@media only screen and (min-width: 600px) {
  .banner {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .close-button {
    padding: 10px;
  }

  p {
  }

  .banner {
    background-color: white;
    border: gray solid 5px;
    border-left: none;
    border-right: none;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
  }
}
